.aboutHeaderImg {
  height: 750px;
  width: 100%;
  object-fit: cover;
}

.aboutHeader {
    padding-top: 60px;
    padding-left: 20px;   
   }
   
.aboutInfo {
    padding-top: 10px;
    padding-left: 20px;   
  }