.aboutHeaderImg {
  height: 750px;
  width: 100%;
  object-fit: cover;
}

.aboutHeader {
    padding-top: 60px;
    padding-left: 20px;   
   }
   
.aboutInfo {
    padding-top: 10px;
    display: 'flex';
    padding-left: 20px;   
  }

  .aboutImage {
    width: 400px;
    height: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    object-fit: cover;
  
  }

  .row1 {
    background-color: #DEF7EE;
  }
  .row2 {
    background-color: #c3ebdb;
  }
  .row3 {
    background-color: #DEF7EE;
  }
  .row4 {
    background-color: #c3ebdb;
  }


  .extra {
    padding-bottom: 50px;
  }