.contactHeader {
 padding-top: 60px;
 padding-left: 20px;   
}

   .inputGroup {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  .inputLabel {
    text-align: left;
  }
  .inputField {
    height: 30px;
  }