.footerStyle {
    
        width: 100%;
        position: static;
        
        background: #21D19F;
        /*padding: 20px;
        bottom: 0px;
        */
        justify-content: center;      
         
}

.footerCol {
    max-width: 70px;
}


