.footerStyle {
    
        width: 100%;
        position: static;
        bottom: 0px;
        background: #21D19F;
        padding: 20px;
        justify-content: center;      
         
}

.footerCol {
    max-width: 70px;
}

.botFooter {
    background-color: #21D19F; 
}

