.footerStyle {
    
        width: 100%;
        /* position: fixed; */
        bottom: 0;
        background: #13bd8d;
        justify-content: center;      
       
}

.footerCol {
    max-width: 70px;
}


