
.carouselCaption {
  position: absolute;
  top: 25%;
}

.carouselImage {
  height: 950px;
  width: 100%;
  object-fit: cover;
}

.homeInfo {
  padding-top: 10px;
  padding-left: 20px;   
}