.headingText{
  padding-top: 20vh;
}

.bgWrap {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
  }

  .bgText {
    margin: 0;
    font-size: 10rem;
    line-height: 3rem;
    text-align: left;
    padding-top: 10vh;
    padding-left: 5vh;
    text-shadow: 3px 3px 3px #000000;
    color: #ffffff;
  }