.projectsHeaderImg {
  height: 750px;
  width: 100%;
  object-fit: cover;
}

.projectsHeader {
  padding-top: 60px;
  padding-left: 40px;
}

.projectsInfo {
  padding-top: 10px;
  padding-left: 40px;
}

.projectsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projectBox {
  background-color: #6E8894;
  border-radius: 20px;
  width: 29%;
  margin: 20px;
  padding: 10px;
}

.projectText {
  background: #6E8894;
  padding: 15px;
}