.whyUsHeaderImg {
  height: 750px;
  width: 100%;
  object-fit: cover;
}

.whyUsHeader {
  padding-top: 60px;
  padding-left: 20px;
}

.whyUsInfo {
  padding-top: 10px;
  padding-left: 20px;
}

.extra {
  padding-bottom: 40px;
}
